.portfolio {
  display: grid;
  padding-top: 10px;
  background-color: #0a192f !important;
}
.bx {
  text-align: -webkit-center;
  width: fit-content;
}
.rp {
  width:inherit;
  display: grid;
  margin-top: -50px !important;
}
.user {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", "-apple-system", system-ui, sans-serif;
  font-weight: 700 !important;
  font-size: 50px;
  text-align: center;
  color: #ccd6f6 !important;
}
.headline {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", "-apple-system", system-ui, sans-serif;
  font-weight: 700 !important;
  font-size: 30px;
  text-align: center;
  color:#ccd6f6;
}
.user_name {
  color:rgb(144, 160, 217);
}
.name {
  padding-top: 100px;
  text-align: left;
}

.links {
  text-align: left;
  line-height: 80px;
}
.education {
  align-items: center;
  text-align: left;
}

.highlight {
  color: #64ffda;
}
.exp {
  row-gap: 45px;
}
.work {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", "-apple-system", system-ui, sans-serif;
  font-size: 32px;
  line-height:35.2px;
  font-weight: 700;
  text-align: left;
  color: #ccd6f6;
}
.center{
  display: flex;
  align-items: center;
  margin-top: 2.4em;
  justify-content:space-evenly;
}
.skill-box {
  background: transparent !important;
  color: #ccd6f6 !important;
  width: fit-content;
  border: none;
}
ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none; 
  text-align: left;
}
ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 13px;
}
ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #64ffda;
  line-height: 12px;
  padding-top: 3px;
}
.abt {
  color: #8890b2;
  width: 60%;
}

.proj-desc {
  color: #8890b2;
}
.proj-title {
  color:#ccd6f6;
}
.language {
  color: #64ffda;
}
.work {
  text-align: center;
  line-height: 40px;
}
.borders {
  background-color: #112240 !important;
  height: 100% !important;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.degree {
  color:#ccd6f6;
  line-height: 50px;
}
.college {
  font-weight: 700;
  color:rgb(144, 160, 217);
}
.hello-btn {
  border: 1px solid #64ffda !important;
  color: #64ffda !important;
  background: none !important;
}
.borders:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  border-radius: 0.25rem;
}
.footer {
  height: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
::before{
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}
 
::-webkit-scrollbar-thumb {
  background: #8890b2 ; 
  border-radius: 10px;
}